
<mat-card>
  <mat-card-title>Lista de Temas</mat-card-title>

  <mat-card-content>
    <input [(ngModel)]="descripcionABuscar" name="filtroDescripcion" />&nbsp;&nbsp;&nbsp;
    <select [(ngModel)]="estadoSeleccionado">
      <option *ngFor="let estado of estados" [ngValue]="estado.id" [selected]="estado.descripcion == 'Todos'">{{estado.descripcion}}</option>
    </select>&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary" type="button" (click)="filtrar()">Buscar</button>
  </mat-card-content>

  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let tema of temas">
        <img mat-list-avatar src="{{tema.urlImage}}">
        <h3 mat-line>
          {{tema.descripcion}}<a mat-button [routerLink]="['/tema-editar', tema.id]">{{tema.estado.descripcion}}</a>
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <button mat-fab color="primary" [routerLink]="['/tema-agregar']">Nuevo</button>

</mat-card>
