
<mat-card>
  <form #temaForm="ngForm" (ngSubmit)="saveForm(temaForm.value)" class="form-full-width">
    <mat-card-header>
      <mat-card-title><h2>{{tema.id ? 'Cambio Estado' : 'Nuevo'}} Tema</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <input type="hidden" name="id" [(ngModel)]="tema.id">

      <mat-form-field  class="input-full-width">
        <input matInput placeholder="Descripcion" [(ngModel)]="tema.descripcion"
               required name="descripcion" #descripcion
               [attr.disabled]="!tema.id" >
      </mat-form-field>

      <br>
      <div *ngIf="!tema.id">
      <br>
      <input id="singleFile" name="nombreDeArchivo" [(ngModel)]="tema.nombreDeArchivo" type="file" [fileUploadInputFor]= "fileUploadQueue" />
      <br>
      <mat-file-upload-queue #fileUploadQueue
         [fileAlias]="'file'"
         [httpUrl]="'http://localhost:8080/temas/upload'">
         <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
      </mat-file-upload-queue>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!temaForm.form.valid">Grabar</button>
      <a mat-button routerLink="/listar-temas">Cancelar</a>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </form>

</mat-card>
